@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.main-header {
color :#000000;
background-color: #FFFFFF;
list-style: none;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
.navigation-list {
  list-style: none;

}
.welcome {
background-image: url("../images/index-background.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
background-color: #474747;
}
.main-index {
text-align: center;
}

.main-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.main {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.advantages-list {
  list-style: none;
}
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description {
font-size: 18px;
line-height: 21px;
color: #333333;
}
.add-list {
  list-style: none;
}
.add-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.add-description{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.trap-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.trap-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.interest-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.subscribe-1 {
  background-image: url("../images/Subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  background-color: #333333;
  text-transform: uppercase;
}
.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  background-color: #333333;
}
.footer-social-list {
  list-style: none;
}
.tel {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
/* 2 page */
.inner-header-title {
font-weight: 700;
font-size: 60px;
line-height: 78px;
color:#ffffff;
background-color:  #333333;
}
.breadcrumbs{
  list-style-type: none;
}
.breadcrumbs-link {
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #ffffff;
background-color: #333333;
}
.catalog-filter-title {
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #ffffff;
background-color: #333333;
}
.catalog-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: #333333;
  list-style-type: none;
}
.slider-range {
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #ffffff;
background-color: #333333;
}
.sum-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.hotel-list {
  list-style-type: none;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  /* подчёркивание остаётся */
  text-decoration: none;
}
.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.hotel-rank {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.button-card {
  color: #ffffff;
  background-color: #333333;
}
.pagination {
  list-style-type: none;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #333333;
  text-decoration: none;
}
.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #F2F2F2;
}
.sub-title {
  color: #000000;
  background-color: #ffffff;
}
.sub-description {
  color: #000000;
  background-color: #ffffff;
}
