@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.conteiner {
  margin: 0 auto;
  width: 1200px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header {
  color: #000000;
  background-color: #FFFFFF;
  list-style: none;
}

.navigation {
  display: flex;
  padding: 0 70px;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 30px;
  list-style: none;
}

.navigation-list {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-current::before {
  content: "";
  position: absolute;
  top: 63px;
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  margin-left: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.nav-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-conteiner {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #474747;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-index {
  text-align: center;
}

.sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21px;
  padding: 69px 290px;
  gap: 25px;
}

.main-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main {
  margin: 0;
  width: 651px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
  gap: 62px 0;
  background-color: #82B3D3;
  color: #ffffff;
  align-items: center;
}

.advantages-item {
  display: flex;
  align-items: center;
}

.item-2,
.item-4 {
  flex-direction: column;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.item-3 {
  flex-direction: column;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  width: 175px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  top: 188px;
  left: 170px;
  background-color: rgba(255, 255, 255, 0.3);
}

.item-2 .advantages-title::before,
.item-3 .advantages-title::before,
.item-4 .advantages-title::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
}

.adv-d-2,
.adv-d-3,
.adv-d-4 {
  color: #333333;
}

.add-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.add-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 30px;
  padding: 81px 85px;
  align-items: center;
}

.add-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.add-item-1 {
  width: 75px;
  height: 72px;
  background-size: cover;
  background-repeat: no-repeat;
}

.add-item-2 {
  width: 74px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
}

.add-item-3 {
  width: 64px;
  height: 76px;
  background-size: cover;
  background-repeat: no-repeat;
}

.add-description {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  color: #333333;
  margin: 0;
}

.add-item-add {
  background-color: rgba(131, 179, 211, 0.12);
}

.trap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 64px 0;
  align-items: center;
}

.trap-title {
  width: 505px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.trap-description,
.interest-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.interest-description {
  margin-bottom: 54px;
}

.button-int {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscribe-1 {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #333333;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 96px 398px 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 404px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.email {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  padding: 14px 228px 14px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.email-2 {
  background-color: #F2F2F2;
}

.submit {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #82B3D3;
  border: 0;
  border-radius: 0 4px 4px 0;

}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  max-width: 144px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  align-items: center;
  width: 48px;
  height: 40px;
}

.button-social {
  background-color: #ffffff;
}

.button-social:hover svg path {
  fill: #68A2CA;
}

.button-social:focus svg path {
  fill: #68A2CA;
}

.button-social:active svg path {
  fill: rgba(104, 162, 202, 0.3);
}

.tel {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.tel:hover {
  color: #756157;
}

.tel:focus {
  color: #756157;
}

.tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy:hover svg path {
  fill: #756157;
}

.logo-htmlacademy:focus svg path {
  fill: #756157;
}

.logo-htmlacademy:active svg path {
  fill: rgba(117, 97, 87, 0.3);
}


/* 2 page */
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.bread {
  position: relative;
  width: 13px;
  height: 15px;
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:first-child:after {
  display: block;
  content: "";
  width: 7px;
  height: 10px;
  background: url(../images/arrow.svg) center no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-right: 10px;
}

.filter {
  background-image: url(../images/filter-back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #333333;
  padding: 35px 70px 70px;
}

.filter-group {
  display: flex;
}

.catalog-filter {
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.slider {
  width: 160px;
  margin: 0 70px;
}

.slider-range {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.manage {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-filter {
  width: 191px;
  padding: 8px 50px;
  border: 0;
  border-radius: 4px;
}

.button-fil-1 {
  background-color: #82B3D3;
}

.button-fil-2 {
  background-color: transparent;
  margin-top: 32px;
}

.sum-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-right: 200px;
  text-transform: uppercase;
}

.select-control {
  display: flex;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-choise {
  width: 1060px;
  align-items: center;
  margin: 0 70px;
}

.choise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 50px 0;
}

.mode {
  display: flex;
  gap: 8px;
}

.button-tab {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 10px 14px;
}

.button-tab:hover {
  border: 2px solid #000000;
}

.button-tab::not(.button-tab-current):focus {
  border: 2px solid #68A2CA;
}

.button-tab:not(.button-tab-current):active {
  border: 2px solid #000000;
}

.button-tab-current {
  border: 2px solid #000000;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-bottom: 20px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-card,
.hotel-card-button,
.stars,
.hotel-rank {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  width: 140px;
  height: 36px;
  border-radius: 4px;
}

.hotel-card-button {
  background-color: #756157;
}

.button-card {
  color: #ffffff;
  background-color: #82B3D3;
  border: 0;
}

.button-selected {
  background-color: #7DB54F;
}

.hotel-rank {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.hotel-stars {
  margin-bottom: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 80px 0 60px;
  padding: 0;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 4px;
  border-radius: 4px;
}

.digit {
  background-color: rgba(130, 179, 211, 1);
}

.digit:not(.digit-current):hover {
  background-color: #68A2CA;
}

.digit:not(.digit-current):focus {
  background-color: #68A2CA;
}

.digit:not(.digit-current):active .pagination-link {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 12px 24px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}

.digit-current {
  background-color: #F2F2F2;
}

.subscribe-2 {
  text-align: center;
}

.sub-title {
  color: #000000;
}

.sub-description {
  color: #000000;
}
